<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,356},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,255},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,154},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,78},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,78},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,78},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tag7ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0560227dbcb1f95c953a81a4b6715101$</string>
            <key>textureFileName</key>
            <string>tag7ani.png</string>
        </dict>
    </dict>
</plist>
